<head>
<head>
    <title>JOURNEY TO THE CENTER OF SPACE</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='search.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

</head>
<body>
	<h2 class="title">JOURNEY TO THE CENTER OF SPACE</h2>
        <div class = "main_search">
        {% from "_formhelpers.html" import render_field %}
        <form method="post" action="/">
            <div class="buscar-caja">
               <input type="text" name="search" class="buscar-txt" placeholder="What do you want to do?"/>
               <a class="buscar-btn">
                <i class="fas fa-search"></i>
               </a>
            </div>
        </form>
        </div>

        <div class = "table">
        {% if results is sameas true %}
            {{ tables|safe }}
        {% endif %}
        </div>
</body>
